.App {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* background-color: #326647;
  background-image: url("./floral-pattern.png"); */
  background-image: linear-gradient(to bottom, #00988957, #f6d7b0, #522848),
    url('./medical7.png');
  /* background: linear-gradient(#3d7554, #040c07);
  background: #f6d7b0 url("./forestOne.jpg"); */
  background-size: cover;
  background-blend-mode: multiply;
  height: 100vh;
  flex-direction: column;
  font-size: calc(2em + 1vw);
  font-weight: 500;
}

.error {
  font-size: calc(0.4em);
  color: #f879c3;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
}

.header {
  font-size: calc(0.5em+0.5vh);
  color: #01756a;
  font-family: monospace;
  justify-content: center;
}

/* .ContainerFlex {
  display: felx;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */


.Panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: rgba(70, 49, 65, 0.8);
  border-radius: 13px;
  border-width: 1px;
  height: 70vh;
  width: 25vw;
  min-width: 170px;
  min-height: 300px;
  box-shadow: 16px 14px 5px rgba(0, 0, 0, 0.514);
}

.link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: #ad8aa5;
  flex: 0 1 auto;
}

button {
  font-size: calc(0.5em + 1vw);
  padding: 5px;
  border-radius: 10px;
  font-weight: 100;
  margin: 5px;
}

input {
  min-width: 20vw;
  line-height: 8vh;
  margin: 5px;
  flex: 1 1 auto;
  border-radius: 10px;
  min-height: 8vh;
}

::placeholder {
  font-size: calc(1em + 1vw);
  padding: 5px;
  justify-content: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.label {
  font-size: calc(0.5em + 0.5vh);
  color: rgb(72, 235, 235);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-decoration: none;
}

.title {
  font-size: calc(0.7em + 0.5vh);
  margin-bottom: 5vh;
}

.login {
  background-color: #514769;
  color: white;
  font-size: x-large;
  padding: 12px;
}

.register {
  background-color: #009889;
  color: white;
  font-size: x-large;
  padding: 12px;
}